.deployment-schedule__message {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    width: 100%;

    &__date {
        font-weight: bold;
    }

    &__time {
        font-weight: bold;
    }
}
