@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body{
    font-size: 17px;
}


.countdown-app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    width: 100%;
}