// Colors
$black :#191919;
$black-light :#252525;
$gray-light:#dbdbdb;
$white: #fff;
$green: #48c78e;
$green-darker: #38a574;
$red: #f03a5f;
$red-darker: #a10020;


// Fonts
$roboto: 'Roboto', sans-serif;

// Breakpoints

$breakpoint-desktop: 960px;